/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$icon-archery-target: unicode(ea01);
$icon-bill: unicode(ea02);
$icon-book-open-2: unicode(ea03);
$icon-button-circle-play: unicode(ea04);
$icon-cursor-pointer: unicode(ea05);
$icon-favourite-31: unicode(ea06);
$icon-grid-45: unicode(ea07);
$icon-headset: unicode(ea08);
$icon-hybrid: unicode(ea09);
$icon-layout-11: unicode(ea0a);
$icon-mail: unicode(ea0b);
$icon-p-heart: unicode(ea0c);
$icon-phone-2: unicode(ea0d);
$icon-pin-2: unicode(ea0e);
$icon-pin-3: unicode(ea0f);
$icon-preferences-circle: unicode(ea10);
$icon-recipe: unicode(ea11);
$icon-responsive: unicode(ea12);
$icon-settings: unicode(ea13);
$icon-spaceship: unicode(ea14);
$icon-stre-left: unicode(ea15);
$icon-stre-right-2: unicode(ea16);
$icon-stre-right: unicode(ea17);
$icon-tail-left: unicode(ea18);
$icon-tail-right-2: unicode(ea19);
$icon-tail-right: unicode(ea1a);
$icon-triangle-left-18: unicode(ea1b);
$icon-triangle-right-17: unicode(ea1c);

.icon-archery-target::before {
  content: $icon-archery-target;
}

.icon-bill::before {
  content: $icon-bill;
}

.icon-book-open-2::before {
  content: $icon-book-open-2;
}

.icon-button-circle-play::before {
  content: $icon-button-circle-play;
}

.icon-cursor-pointer::before {
  content: $icon-cursor-pointer;
}

.icon-favourite-31::before {
  content: $icon-favourite-31;
}

.icon-grid-45::before {
  content: $icon-grid-45;
}

.icon-headset::before {
  content: $icon-headset;
}

.icon-hybrid::before {
  content: $icon-hybrid;
}

.icon-layout-11::before {
  content: $icon-layout-11;
}

.icon-mail::before {
  content: $icon-mail;
}

.icon-p-heart::before {
  content: $icon-p-heart;
}

.icon-phone-2::before {
  content: $icon-phone-2;
}

.icon-pin-2::before {
  content: $icon-pin-2;
}

.icon-pin-3::before {
  content: $icon-pin-3;
}

.icon-preferences-circle::before {
  content: $icon-preferences-circle;
}

.icon-recipe::before {
  content: $icon-recipe;
}

.icon-responsive::before {
  content: $icon-responsive;
}

.icon-settings::before {
  content: $icon-settings;
}

.icon-spaceship::before {
  content: $icon-spaceship;
}

.icon-stre-left::before {
  content: $icon-stre-left;
}

.icon-stre-right-2::before {
  content: $icon-stre-right-2;
}

.icon-stre-right::before {
  content: $icon-stre-right;
}

.icon-tail-left::before {
  content: $icon-tail-left;
}

.icon-tail-right-2::before {
  content: $icon-tail-right-2;
}

.icon-tail-right::before {
  content: $icon-tail-right;
}

.icon-triangle-left-18::before {
  content: $icon-triangle-left-18;
}

.icon-triangle-right-17::before {
  content: $icon-triangle-right-17;
}

